---
layout: default
---

<header>
	<h1>{{ site.title }}</h1>
	<div class="socials">
		<div class="social">
			<i class="fa fa-github"></i>&nbsp;<a href="https://github.com/AideTechBot">github</a>
		</div>
		<div class="social">
			<i class="fa fa-linkedin"></i>&nbsp;<a href="https://www.linkedin.com/in/manudionne">linkedIn</a>
		</div>
	</div>
</header>

<div class="main-items">
	<section class="blog">
		<h2>{{ site.blog_title }}</h2>
		{% assign sorted = site.posts | sort: 'date' | reverse %}
		{% for post in sorted %}
			<div class="links">
				<div class="link-date">{{ post.date | date: "%Y/%m/%d" }}</div>
				<div class="link-title">{{ post.title }}</div>
				<a class="blue" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
					Read	
				</a>
				<a class="blue small" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
					&rarr;	
				</a>
			</div>
		{% endfor %}
	</section>

	<section class="projects">
		<h2>{{ site.projects_title }}</h2>
		{% assign sorted = site.projects | sort: 'date' | reverse %}
		{% for project in sorted %}
			<div class="links">
				<div class="link-date">{{ project.date | date: "%Y/%m/%d" }}</div>
				<div class="link-title">{{ project.title }}</div>
				<a class="red" href="{{ project.url | prepend: site.baseurl | prepend: site.url }}">
					View	
				</a>
				<a class="red small" href="{{ project.url | prepend: site.baseurl | prepend: site.url }}">
					&rarr;	
				</a>
			</div>
		{% endfor %}
	</section>
</div>
