---
layout: default
---

<header>
	<h1><a href="{% link about.md %}">{{ site.title }}</a></h1>
	<div class="socials">
		<div class="social">
			<i class="fa fa-github"></i>&nbsp;<a href="https://github.com/AideTechBot">github</a>
		</div>
		<div class="social">
			<i class="fa fa-linkedin"></i>&nbsp;<a href="https://www.linkedin.com/in/manudionne">linkedIn</a>
		</div>
	</div>
</header>

<div class="main-items">
	<section class="blog">
		<h2>{{ site.blog_title }}</h2>
		{% assign sorted = site.posts | sort: 'date' | reverse %}
		{% for post in sorted limit: 10 %}
			<div class="links">
				<div class="link-date">{{ post.date | date: "%Y/%m/%d" }}</div>
				<div class="link-title">{{ post.title }}</div>
				<a class="blue" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
					Read	
				</a>
				<a class="blue small" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
					&rarr;	
				</a>
			</div>
			{% if forloop.last %}
				<div class="section-footer">
					<span>Showing {{ forloop.length }} of {{ site.posts.size }} posts</span>
					<a class="archive-link" href="{% link blog-archive.md %}">
						Archive&nbsp;&rarr;
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</section>

	<section class="projects">
		<h2>{{ site.projects_title }}</h2>
		{% assign sorted = site.projects | sort: 'date' | reverse %}
		{% for project in sorted limit: 10 %}
			<div class="links">
				<div class="link-date">{{ project.date | date: "%Y/%m/%d" }}</div>
				<div class="link-title">{{ project.title }}</div>
				<a class="red" href="{{ project.url | prepend: site.baseurl | prepend: site.url }}">
					View	
				</a>
				<a class="red small" href="{{ project.url | prepend: site.baseurl | prepend: site.url }}">
					&rarr;	
				</a>
			</div>
			{% if forloop.last %}
				<div class="section-footer">
					<span>Showing {{ forloop.length }} of {{ site.projects.size }} projects</span>
					<a class="archive-link" href="{% link projects-archive.md %}">
						Archive&nbsp;&rarr;
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</section>
</div>
