:root {
  /* 
  ** Colors
  */

  --red-dark: #e7040f;
  --red: #ff4136;
  --red-light: #ff725c;
  --red-washed: #ffdfdf;
  --orange: #e25600;
  --gold: #ffb700;
  --yellow: #ffd700;
  --yellow-light: #fbf1a9;
  --yellow-washed: #fffceb;
  --purple: #5e2ca5;
  --purple-light: #a463f2;
  --pink-dark: #d5008f;
  --pink-hot: #ff41b4;
  --pink: #ff80cc;
  --pink-light: #ffa3d7;
  --green-dark: #137752;
  --green: #19a974;
  --green-light: #9eebcf;
  --green-washed: #e8fdf5;
  --navy: #001b44;
  --blue-dark: #00449e;
  --blue: #357edd;
  --blue-light: #96ccff;
  --blue-lightest: #cdecff;
  --blue-washed: #f6fffe;

  --red-direct: #cc2128;
  --green-direct: #33a457;
  --blue-direct: #00449e;
  --teal-direct: #04aced;
  --yellow-direct: #fff12d;
  --magenta-direct: #cb0088;

  --dull-01: #728b44;
  --dull-02: #2c7963;
  --dull-03: #304994;
  --dull-04: #57358f;
  --dull-05: #8c2465;
  --dull-06: #a62434;
  --dull-07: #a54e2c;
  --dull-08: #e6b532;

  --black: #000;
  --grey-01: #262424;
  --grey-02: #424243;
  --grey-03: #58595b;
  --grey-04: #6d6e70;
  --grey-05: #808183;
  --grey-06: #939496;
  --grey-07: #a7a8aa;
  --grey-08: #bbbcbe;
  --grey-09: #d0d1d3;
  --grey-10: #e6e6e7;
  --white: #fff;

  --success: #137752;
  --success-dark: #0f6143;
  --success-light: #178d61;
  --warning: #ff6300;
  --warning-dark: #e65900;
  --warning-light: #ff731a;
  --error: #e7040f;
  --error-dark: #ce040d;
  --error-light: #fb0a15;

  /*
  ** Text
  */
  --font-family: helvetica, arial, sans-serif;

  --font-weight-01: 900;
  --font-weight-02: 700;
  --font-weight-03: 700;
  --font-weight-04: 400;
  --font-weight-05: 300;

  /*
  ** Lines & Padding
  */

  --section-header-padding: 0.3em;
  --section-header-margin: 0.3em 0;

  --section-body-padding-x: 0.75em;
  --section-body-padding-y: 0.2em;
  --section-body-padding: var(--section-body-padding-y)
    var(--section-body-padding-x);
  --section-body-margin: 0;

  --tree-indent-size: 0.5em;
  --tree-indent-mult: 2;
  --tree-node-padding: 0.2em;
  --tree-line-width: calc(var(--tree-indent-mult) * var(--tree-indent-size));

  --line-size-01: 1px;
  --line-size-02: 2px;
  --line-color: var(--black);
  --line-color-light: var(--grey-05);
  --line-color-lighter: var(--grey-08);

  /*
  ** Shadows
  */
  --box-shadow: 2px 2px var(--grey-09);

  @media (color-gamut: p3) {
    --green-dark: color(display-p3 0 0.43 0.316);
    --red-dark: color(display-p3 0.745 0 0.161);
    --gold: color(display-p3 0.985 0.766 0);
    --blue-dark: color(display-p3 0 0.283 0.665);
  }
}

/* 
 * A lot of these css selectors are hyper-targeted
 * but it's fine. I'm making a bespoke resume, not a 
 * css class library.
 */

html {
  font-family: var(--font-family);

  a:hover,
  a:focus,
  a:active,
  a:visited,
  a:link {
    text-decoration: none;
    color: var(--blue-dark);
  }

  h1 {
    font-weight: var(--font-weight-01);
  }
  h2 {
    font-weight: var(--font-weight-04);
  }
  h3 {
    font-weight: var(--font-weight-03);
  }
  h4 {
    font-weight: var(--font-weight-04);
  }

  body {
    margin: 0.5em auto;
    width: 8.5in;
    height: 11in;
    font-size: 11pt;

    header {
      width: 100%;
      display: flex;
      .header-left {
        display: flex;
        width: 80%;
        h1 {
          margin: 0;
          font-size: 4em;
          line-height: 1em;
          height: 1em;
          align-self: flex-end;
        }
        div {
          display: flex;
          margin-left: 10px;
          span {
            font-style: italic;
            align-self: flex-end;
          }
        }
      }
      .header-right {
        width: 20%;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        line-height: 1.2em;
        margin-right: 0.2em;
        margin-bottom: 0.2em;
        a {
          font-weight: var(--font-weight-02);
        }
      }
    }
    main {
      width: 100%;
      section {
        line-height: 1em;
        > h2 {
          border: var(--line-size-01) solid var(--line-color);
          box-shadow: var(--box-shadow);
          padding: var(--section-header-padding);
          margin: var(--section-header-margin);
          font-size: 13pt;
          > a {
            > abbr[title] {
              border-bottom: none;
              text-decoration: none;
            }
            float: right;
            i {
              font-size: 10pt;
            }
          }
        }
        > div.body {
          font-size: 11pt;
          padding: var(--section-body-padding);
          margin: var(--section-body-margin);
          &.tree {
            ul {
              list-style: disc outside;
              padding-inline-start: 0;
            }
            ul.tree {
              position: relative;
              margin: 0;
              padding: 0;
              list-style-type: none;
              > li:last-child {
                margin: 0 0 0
                  calc(var(--tree-indent-size) + var(--tree-line-width));
                padding: 0;
                border-left: var(--line-size-01) solid transparent;
              }
              > li {
                margin: 0 0 0
                  calc(var(--tree-indent-size) + var(--tree-line-width));
                padding: 0;
                list-style-type: none;
                border-left: var(--line-size-01) solid var(--line-color);
                > div.node::before {
                  position: absolute;
                  top: 0;
                  bottom: 50%;
                  left: calc(0px - var(--line-size-01));
                  width: var(--tree-line-width);
                  content: "";
                  border: var(--line-size-01) solid var(--line-color);
                  border-top: 0 none transparent;
                  border-right: 0 none transparent;
                }
                > div.node {
                  position: relative;
                  display: inline-block;
                  width: calc(
                    100% -
                      calc(var(--tree-line-width) + var(--tree-node-padding))
                  );
                  padding: var(--tree-node-padding) 0 var(--tree-node-padding)
                    calc(var(--tree-line-width) + var(--tree-node-padding));
                  > div.dot-space {
                    display: flex;
                    > div.space {
                      position: relative;
                      margin: 0 var(--tree-node-padding);
                      flex-grow: 1;
                      /* hacky background image dots cool looking
              background-image: linear-gradient(
                to right,
                #333 10%,
                rgba(255, 255, 255, 0) 0%
              );
              background-position: top;
              background-size: 10px 1px;
              background-repeat: repeat-x; */
                    }
                    > div.space::before {
                      position: absolute;
                      bottom: 42%;
                      width: 100%;
                      content: "";
                      border-bottom: 2px dotted var(--line-color-lighter);
                    }
                    > span {
                      font-size: 15px;
                    }
                  }
                  > div.no-dot-space {
                    border: var(--line-size-01) solid var(--line-color);
                    background-color: var(--grey-10);
                    padding: 0.2em 0.3em;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    > span {
                      font-size: 15px;
                    }
                  }
                }
              }

              h3,
              h4 {
                margin: 0;
              }
            }
            /* This is to add padding to the top of triple nested nodes (leaves)*/
            ul.tree ul.tree ul.tree .node {
              padding-top: 0.3em;
            }
            /* This is to squish the first level against the side of the body */
            > ul.tree > li,
            > ul.tree > li:last-child {
              margin: 0;
            }

            .activity_header {
              color: var(--black);
            }
            .activity_header strong {
              font-size: 12pt;
              /*font-weight: 600;*/
              color: var(--black); /*#761F1F;*/
            }
            .activity_header_sub {
              font-size: 10pt;
              font-weight: 600;
            }
            .activity_header_tag {
              font-size: 9.5pt;
              font-weight: 600;
              font-style: oblique;
            }
          }
          &.single {
            > h3 {
              margin: 0.2em 0;
              > span {
                font-weight: 500;
                font-size: 0.95em;
              }
            }

            > .columns {
              display: flex;
              justify-content: space-between;
              border-top: var(--line-size-01) solid var(--line-color-lighter);
              span {
                padding: 0.2em 0;
              }
              span:last-child {
                padding-left: 0.3em;
              }
              span:last-child {
                border-left: var(--line-size-01) solid var(--line-color-lighter);
              }
            }
          }
          &.tags {
            display: flex;
            > div {
              > h3 {
                margin: 0.2em 0;
                /* font-size: 0.9em; */
              }

              > div.tags {
                display: flex;
                flex-wrap: wrap;
                > span {
                  box-shadow: var(--box-shadow);
                  padding: 0.2em 0.4em;
                  border: 0.5px solid #000;
                  margin: 0.2em;
                  text-align: center;
                  min-width: 2em;
                }
              }
            }
          }
          &.indent {
            --left-line-size: 3px;

            padding-left: calc(
              var(--section-body-padding-x) + var(--left-line-size)
            );
            > div:first-of-type {
              margin-top: 0;
            }
            > div {
              margin-top: 0.5em;
              display: flex;
              border-top: var(--line-size-02) dotted var(--line-color-lighter);
              border-bottom: var(--line-size-02) dotted
                var(--line-color-lighter);
              box-shadow: calc(0px - var(--left-line-size)) 0
                var(--line-color-light);
              > h3 {
                display: flex;
                flex-direction: column;
                margin: 0;
                flex-grow: 1;
                > a,
                span {
                  padding: 0.2em 0 0.2em 0.2em;
                }
                > a {
                  i {
                    vertical-align: middle;
                  }
                  font-size: 11pt;
                  border-top: var(--line-size-01) solid var(--line-color);
                }
              }

              > span {
                width: 75%;
                padding: 0.2em;
                margin: 0;
                display: inline-flex;
                vertical-align: middle;
                align-items: center;
                border-left: var(--line-size-02) dotted
                  var(--line-color-lighter);
                > div {
                  background-color: var(--dull-06);
                  border: var(--line-size-01) solid var(--line-color);
                  text-align: center;
                  font-size: 10pt;
                  color: var(--white);
                  padding: 0.2em;
                  margin: 0.2em;
                }
              }
            }
          }
        }
      }
    }
  }
}
